@import "../../index.css";

.wrapper {
	color: var(--side-bar);
	display: grid;
	grid-template-areas: "menu1 content";
	grid-template-columns: 75px auto;
	grid-template-rows: 100vh;
	background-color: var(--menu);
}
.content{
	max-width: 1300px;
	background-color: var(--bg-content);
	margin: 0 auto;
	width: 100%;
	padding: 0px 40px;
}

.settings{
	margin-top: 30px;
}
.title{
	font-size: 30px;
}
.list{
	margin-top: 34px;
	display: grid;
	grid-template-columns: calc(50% - 20px) calc(50% - 20px);
	gap: 40px;
}
.item{
	border: yellow solid 2px;
	height: 45px;
}