@import "../../App.scss";
.wrapper {
	color: var(--side-bar);
	display: grid;
	grid-template-areas: "menu1 side-bar chat";
	grid-template-columns: 75px 384px auto;
	grid-template-rows: 100vh;
}

.side_bar {
	grid-area: side-bar;
	background-color: var(--menu);

	&__chat {
		cursor: pointer;
		font-size: 20px;
		margin: 0px 0px 6px 0px;
		padding: 15px 0px 15px 10px;
		&:hover {
			background-color: var(--menu);
		}
		&_name {
			display: flex;
			align-items: center;
			pointer-events: none;
		}
		display: flex;
		& img {
			width: 30px;
			height: 30px;
			margin-right: 20px;
			border-radius: 50%;
		}
	}
}
.chat {
	grid-area: chat;
	background-color: var(--bg-content);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__top {
		min-height: 60px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0px 40px 0px 20px;
	}
	&__content {
		height: 100%;
		border: solid var(--side-bar);
		border-width: 1px 0px 1px 0px;
		overflow: auto;
	}

	&__user {
		display: flex;
		align-items: center;
	}
	&__options {
		width: 40px;
		height: 100%;
		position: relative;
		cursor: pointer;
		& > span {
			width: 5px;
			height: 5px;
			background-color: var(--text-color);
			border-radius: 50%;
			bottom: calc(50% + 3px);
			left: 50%;
			transform: translate(-50%, 100%);
			position: absolute;
		}
		&::after,
		&::before {
			content: "";
			position: absolute;
			width: 5px;
			height: 5px;
			background-color: var(--text-color);
			border-radius: 50%;
			left: 50%;
		}
		&::after {
			top: 13px;
			transform: translate(-50%, 100%);
		}
		&::before {
			bottom: 13px;
			transform: translate(-50%, -100%);
		}
	}

	&__img {
		margin: 0px 15px 0px 5px;
		& img {
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}
	}
	&__bot {
		min-height: 80px;
		display: flex;
		align-items: center;
		padding: 0px 20px;
	}
	&__input {
		height: 45px;
		width: 100%;
		border-radius: 8px;
		background-color: var(--menu);
		color: var(--side-bar);
		font-size: 18px;
		padding: 0px 0px 0px 0px;
	}
	&__send {
		margin-left: 20px;
		height: 45px;
		width: 45px;
		border-radius: 4px;
		background-color: var(--button);
	}
	&__messages {
		padding: 0px 20px;
		overflow: auto;
		max-height: 100%;
		min-height: 100%;
	}
	&__message {
		& > p {
			display: inline-block;
			background-color: var(--button);
			padding: 10px 10px 10px 10px;
			color: var(--text-color);
		}
		&.owner {
			display: flex;
			justify-content: right;
			& > p {
				background-color: var(--menu);
			}
		}
	}
}
.helper {
	font-size: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(50%, -100%);
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 200px;
	font-size: 24px;
	transform: translate(-50%, -50%);
	color: var(--text-color);
	text-align: center;
	padding: 30px 10px;
	background-color: var(--menu);
	& > input {
		top: 0;
		left: 0;
		width: 300px;
		height: 30px;
		font-size: 18px;
	}
	& button {
		height: 30px;
		color: var(--text-color);
		background-color: var(--button);
	}
}
.title {
	margin-bottom: 30px;
}
.unread{
	position: relative;
	&::after{
		content: "!";
		width: 20px;
		height: 20px;
		color: white;
		position: absolute;
		font-size: 14px;
		background-color: red;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translateY(-50%);
		top: 50%;
		right: 30px;
	}
}