@import "../../index.css";

.wrapper {
	color: var(--text-color);
	display: grid;
	grid-template-areas: "menu1 content";
	grid-template-columns: 75px auto;
	grid-template-rows: 100vh;
}

.content {
	grid-area: content;
	background-color: var(--menu);
	padding: 20px 40px;
	display: grid;
	grid-template-columns: repeat(5, calc(20% - 16px));
	grid-auto-rows: 60px;
	gap: 20px;
	font-size: 24px;
}
.button {
	width: 40px;
	height: 40px;
	background-color: var(--button);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.user {
	display: flex;
	border: 1px solid var(--side-bar);
	padding: 0px 20px;
	justify-content: space-between;
	align-items: center;
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 200px;
	font-size: 24px;
	transform: translate(-50%, -50%);
	color: var(--text-color);
	text-align: center;
	padding: 30px 10px;
	background-color: var(--menu);
	& > input {
		top: 0;
		left: 0;
		width: 300px;
		height: 30px;
		font-size: 18px;
	}
	& button {
		height: 30px;
		color: var(--text-color);
		background-color: var(--button);
	}
}
.title {
	margin-bottom: 30px;
}
.tip {
	margin-top: 10px;
	color: var(--side-bar);
	font-size: 15px;
}
.progress {
	position: absolute;
	top: 50%;
	left: 50%;
}
