$light-gray: #a6b0cf;
$gray: #313942;
$dark-gray: #262e35;

.wrapper {
	color: $light-gray;
	display: grid;
	grid-template-areas: "menu1 content";
	grid-template-columns: 75px auto;
	grid-template-rows: 100vh;
}

.content {
	grid-area: content;
	background-color: $dark-gray;
	padding: 20px 40px;
	display: grid;
	grid-template-columns: repeat(5, calc(20% - 16px));
	grid-auto-rows: 60px;
	gap: 20px;
	font-size: 24px;
}
.button {
	width: 40px;
	height: 40px;
	background-color: rgb(14, 14, 252);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.user {
	display: flex;
	border: 1px solid gray;
	padding: 0px 20px;
	justify-content: space-between;
	align-items: center;
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 200px;
	font-size: 24px;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	padding: 30px 10px;
	background-color: rgb(69, 69, 80);
	& > input {
		top: 0;
		left: 0;
		width: 300px;
		height: 30px;
		font-size: 18px;
	}
	& button {
		height: 30px;
		color: white;
		background-color: rgb(14, 137, 252);
	}
}
.title {
	margin-bottom: 30px;
}
.tip {
	margin-top: 10px;
	color: $light-gray;
	font-size: 15px;
}
